[Desktop Entry]
Categories=Graphics;Photography;
Comment=Built on RapidRAW by ColrBent.
Exec=This-Is-Raw
Icon=This-Is-Raw
Name=This Is Raw
Terminal=false
Type=Application
