[Desktop Entry]
Categories=Graphics;Photography;
Comment=Built on RapidRAW by ColrBent.
Exec=ThisIsRAW
Icon=ThisIsRAW
Name=ThisIsRAW
Terminal=false
Type=Application
